@import 'Gán Biến.scss';

.column
{
    flex: 0 0 auto;
    width: 300px;// chiều rộng cột công việc
    height: $column-height;
    margin-left: $gap;
    > * // thiết kế thẻ công việc
    {
        background-color: $mauthanhcongviec;
        padding: 0 8px;
    }
    header.column-drag-handle //đầu của bảng công việc
    {
        padding: 1px 8px;
        height: $chieucao-header;
        line-height: $chieucao-header;
        font-size: 16px;
        font-weight: bold; 
        border-top-left-radius: $chieucao-border-radius;
        border-top-right-radius: $chieucao-border-radius;
        cursor: pointer; //khi trỏ vào header hiện biểu tượng bàn tay
        display: flex;
        .column-title
        {
            flex: 90%;
        }
        .column-dropdown-actions
        {
            flex: 10%;
            .dropdown
            {
                button.dropdown-btn //thiết kế lại nút ở card
                {
                    padding: 0 $gap;
                    font-size: 16px;
                    height: 32px;
                    margin-top: -7px;
                    font-weight: bold;
                    letter-spacing: 1px;
                    background-color: $mauthanhcongviec;
                    border-color: $mauthanhcongviec;
                    color: $app-main-text-color;
                    &::after
                    {
                        content:'...';
                        border: none;
                        vertical-align: 1.255em;
                    }
                    &:hover
                    {
                        background-color: darken($mauthanhcongviec, 10);
                        border-color: darken($mauthanhcongviec, 10);
                    }
                }
            }
           
            .dropdown-menu
            {
                padding: 0;
                min-width: 200px;
                a.dropdown-item
                {
                    padding: 0.1rem 1rem;
                    font-size: 14px;
                    &:not(:last-child)
                    {
                        border-bottom: 1px solid  darken($mauthanhcongviec, 10);
                    }
                }
            }
        }
    }
    footer //cuối của bảng công việc (Thêm công việc)
    {
        padding-left: 10px;
        height: $chieucao-footer;
        min-height: $gap;
        line-height: $chieucao-footer;
        border-bottom-left-radius: $chieucao-border-radius;
        border-bottom-right-radius: $chieucao-border-radius;
        color: #888;
        .footer-actions
        {
            margin-left: 5px;
            cursor: pointer;
            &:hover//trỏ vô footer hiện lên màu đen
            {
                color: $app-main-text-color;
            }
        }
    }
    .Card-list
    {
       
        margin: 0;
        max-height: calc(#{$column-height} - #{$chieucao-header} - #{$chieucao-footer});
        overflow-y: auto;//tạo thanh cuộn dọc khi tạo nhiều công việc (x là ngang y là dọc)
        // thiết kế thanh kéo dọc của từng công việc 
        &::-webkit-scrollbar
        {
        -webkit-appearance: none;
        }
        &::-webkit-scrollbar:vertical
        {
        width: 11px;
        }
        &::-webkit-scrollbar-thumb
        {
        background-color: darken($mauthanhcongviec,15);
        border-right: 5px solid $mauthanhcongviec;
        }
        .card-ghost {
            transition: transform 0.18s ease;
            transform: rotateZ(5deg);
            font-weight: bold;// Khi kéo
          }
          
        .card-ghost-drop{
            transition: transform 0.18s ease-in-out;
            transform: rotateZ(0deg);
            font-weight: bold;
          }
        .card-drop-preview {
            background-color: rgba(150, 150, 200, 0.1);
            border: 1px dashed #abc;
            margin: 5px;
          }
        .add-new-card
        {
            .textarea-enter-new-card
            {
                min-height: 54px;
                max-height: 162px;
            }
        }
    }
}