@import 'Gán Biến.scss';

.Card-item
        {
            background-color: white;
            padding: $gap;
            border-radius: $card-border-radius;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); //tạo bóng cho từng khung công việc
            cursor: pointer;// tạo bàn tay cho từng công việc để kéo thả
            margin-bottom: $gap; //khoản cách giữa từng công việc
        }
        img.card-cover
        {
            display: block;
            width: calc(100% + 2 *#{$gap});
            margin: -$gap 0 $gap (-$gap);
            border-bottom-left-radius: $card-border-radius;
            border-bottom-right-radius: $card-border-radius;
        }